//- header.pug
header.header
  .logo__wrapper
    .logo__img
  .nav
    a.nav__link.link__home(href='') Home
    //- a.nav-link.link-achievements(href='') Achievements
    a.nav__link.link__rules(href='') Rules
    .dropdown.nav__link.link__dropdown
      //- Rewrite by using img 
      img.link__profile_img(role='button', data-toggle='dropdown', data-display="static", aria-haspopup='true', aria-expanded='false')
      .dropdown-menu.dropdown-menu-center(aria-labelledby='dropdownMenuLink')
        a.dropdown-item.btn--profile(href='#') Profile
        div.dropdown-divider
        a.dropdown-item.btn--logout(href='#') Logout

script(src="http://localhost:3000/javascripts/logout.js")