extends layout

block content
  include ../views/partials/header

  .game__container
    //- 3 players
    .playercard.playeramount__3-1
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 3-1
    .playercard.playeramount__3-2
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 3-2

    //- 4 players
    .playercard.playeramount__4-1
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 4-1
    .playercard.playeramount__4-2
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 4-2
    .playercard.playeramount__4-3
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 4-3

    //- 5 players
    .playercard.playeramount__5-1
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 5-1
    .playercard.playeramount__5-2
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 5-2
    .playercard.playeramount__5-3
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 5-3
    .playercard.playeramount__5-4
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 5-4

    //- 6players
    .playercard.playeramount__6-1
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 6-1
    .playercard.playeramount__6-2
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 6-2
    .playercard.playeramount__6-3
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 6-3
    .playercard.playeramount__6-4
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 6-4
    .playercard.playeramount__6-5
      .playerimage
      .playerinfo
          p.playerinfo__name Weske
          h5.playerinfo__sticks-title Number of sticks:
          p.playerinfo__sticks-amount 6-5
    .hat__wrapper
    .gamebtns
    .gameactions