extends layout

block content
  script(src="javascripts/home.js")
  include ../views/partials/header

  .content__container
    .content__wrapper--top-left
        //- a.btn.btn-danger.btn--back(type='button', href='/') Leave lobby
    .content__wrapper--top-middle
      a.btn.btn-warning.btn--new(type='button', href='/create') Create new lobby
    .content__wrapper--bottom-middle
    
      .content__list.content__list--home
        h2.content__list_name LobbyName
        .content__list_amountPlayers
          h5
            span.content__list_amountPlayers_amount 5
            |  / 
            span.content__list_amountPlayers_many 6
            |  players inside
        .content__list_playersInside
          h6.content__list_playersInside_peopleTitle People in lobby:
          .content__list_profilepic_wrapper--small
            .content__list_profilepic--small
            .content__list_profilepic--small
            .content__list_profilepic--small
            .content__list_profilepic--small
            .content__list_profilepic--small
        .content__btn
          button.btn.btn-success.btn--join(type='button') Join

  
