extends layout

block content
  div.portal
    div.portal__filter
      div.form__wrapper.form__wrapper--login
        div.form__nav
          a(href="/login", class="btn btn-success form__nav_item form__nav_item--active form--login") Login
          a(href="/register", class="btn btn-success form__nav_item form--register") Register
        form
          .form-group
            label(for='email') Email address or username
            input#email.form-control(type='email', aria-describedby='emailHelp')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password')
          button.btn.btn-success(type='submit') Submit
