extends layout

block content
  div.portal
    div.portal__filter
      div.form__wrapper.form__wrapper--login
        div.form__nav
          a(href="/login", class="btn btn-success form__nav_item form__nav_item--active form--login") Login
          a(href="/signup", class="btn btn-success form__nav_item form--register") Sign up
        form
          .form-group
            label(for='username') Username
            input#username.form-control(type='text')
          .form-group
            label(for='password') Password
            input#password.form-control(type='password')
          input.btn.btn-success.btn--login(type='submit' value='Login')

  script(src="javascripts/ajax_L.js")