extends layout

block content
  include ../views/partials/header

  .content__container
    .content__wrapper--top-left
        //- a.btn.btn-danger.btn--back(type='button', href='/') Leave lobby
    .content__wrapper--top-middle
    //-   a.btn.btn-warning.btn--new(type='button', href='/create') Create new lobby
    .content__wrapper--middle-middle-profile
      .content__list.content__list--profile
        .profile_profilepic
          img(src='../images/LogoOld.svg')
        form
          .form-group.custom-file
            label.custom-file-label(for='File') Change profile picture
            input#customFile.custom-file-input(type='file')
          .form-group
              //- label(for='email') Email
              input#email.form-control(type='email', value='Email')
          .form-group
              //- label(for='username') Username
              input#username.form-control(type='text', value='Username')
          //- .form-group
          //-     //- label(for='oldPassword') Old password
          //-     input#oldPassword.form-control(type='password')
          //- .form-group
          //-     //- label(for='password') New password
          //-     input#password.form-control(type='password')
          .form-group.text-center
            input.btn.btn-success.btn--profile(type='submit' value='Update profile')


    .content__wrapper--bottom-middle
      //- .alert.alert-warning.alert-dismissible.fade(role='alert')
      //-   strong Holy guacamole!
      //-   |  You should check in on some of those fields below.
      //-   button.close(type='button', data-dismiss='alert', aria-label='Close')
      //-     span(aria-hidden='true') ×
//-   script(src="http://localhost:3000/primus/primus.js")
//-   script(src="http://localhost:3000/javascripts/lobby.js")
//-   script(src="http://localhost:3000/javascripts/home.js")